$base-color: #225695;
$base-color-light: #3377C9;
$base-color-dark: #16345e;
$base-color-darkest: #16345e;

$base-shadow-color: rgba(37, 37, 32, 0.25);

$text-light: #b5cdee;
$text-dark: #050f17;

$field-bg-color: #fdfdfd;
$field-border: #b5cdee;

$color-ok: #64bd5d;
$color-bad: #c93a34;
