@import '../../variables';

.list {
  width: 420px;
  height: 100%;
  background: $base-color;
  padding: 20px 20px 0 20px;

  .list-header {
    width: 100%;
    padding: 0 0 10px 0;
    border-bottom: 4px solid $base-color-dark;
  }

  .list-content {
    overflow-y: scroll;
  }
}