@import '../../variables';

.tile {
  margin: 20px 0;
  .tile-container {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 3px 2px 2px $base-shadow-color;
    .tile-content {
      background: $base-color-light;
      color: $text-light;
      border-radius: 4px;
      padding: 10px;

      &:hover {
        background: rgba(51, 119, 201, 0.5);
        transition-duration: 0.5s;
        color: white;
      }
      transition-duration: 0.5s;
      .tile-text {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
      }
    }
  }
}

